PORT=3000
NODE_ENV=development
GITHUB_APP_ID=
GITHUB_APP_CLIENT_ID=
GITHUB_APP_CLIENT_SECRET=
GITHUB_APP_PRIVATE_KEY=
SESSION_SECRET=



####################
# ===========================================================
# Used by: build-push-image.sh
# ===========================================================
# Example (GHCR):
#   REGISTRY_PREFIX=ghcr.io/quintolabs-es
#   REGISTRY_USERNAME=your-github-username
#   REGISTRY_TOKEN=ghp_xxx   (classic PAT scope: write:packages)
#
# Required:
REGISTRY_PREFIX=ghcr.io/bustroker
REGISTRY_USERNAME=bustroker
REGISTRY_TOKEN=

DOCKER_DEFAULT_PLATFORM=linux/amd64
IMAGE_NAME=bkr-elnotas-webui
IMAGE_TAG=1.0.0

# ===========================================================
# Used by: deploy-render.sh
# ===========================================================
# URL format: https://api.render.com/deploy/srv-xxxxx?key=yyyyy

RENDER_DEPLOY_HOOK_URL=
